{% for credentials_dict  in credentials.values() -%}
{% for credential in credentials_dict -%}
{% for section, keys_values  in credential.items() -%}
[{{section}}]
{% for key, value  in keys_values.items() -%}
{{key}} = {{value}}
{% endfor -%}
{% endfor %}
{% endfor %}
{% endfor %}
